@import 'https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap';

@import './_variables.scss';

@import './custom-checkmark';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  align-items: center;
  &-content {
    max-width: 550px;
    width: 100%;
  }
}

.block {
  border-radius: 12px;
  padding: 15px 10px;
  background-color: $white-06;
  transition: all .2s;
}

body {
  background-color: $white-02;
  transition: all .2s;
  &.dark {
    background-color: $black-08;
    .block {
      background-color: $black-04;
    }
    .form__field {
      background-color: $black-02;
      color: $white-08;
      box-shadow: 0 0 4px $white-02;
      &::placeholder {
        color: $white-04;
      }
      &:focus {
        background-color: $white-02;
        box-shadow: 0 0 5px $white-08;
      }
    }
    .logo {
      color: $white;
    }
  }
}


.home {
  padding: 50px 0 0 0;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  &__block {
    &-title {
      font-size: 16px;
      font-family: $noto-sans;
    }
  }
  &__field {
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: $white-08;
    border: none;
    outline: none;
    color: $black;
    font-family: $noto-sans;
    font-size: 16px;
    font-weight: 400;
    transition: all .2s;
    &::placeholder {
      color: $white-02;
      font-weight: 400;
      font-size: 16px;
    }
    &:focus {
      border: none;
      outline: none;
      background-color: $white;
      box-shadow: 0 0 5px $black-02;
    }
  }
}

.logo {
  font-family: $noto-sans;
  font-size: 22px;
  font-weight: 700;
  transition: .2s all;
}

nav {
  padding: 0 20px;
  background: $black-02;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme {
  display: flex;
  align-items: center;
  &__item {
    font-size: 16px;
    font-weight: 500;
    font-family: $noto-sans;
    color: $white-02;
    cursor: pointer;
    transition: .2s all;
    &.active {
      color: $white;
    }
    &.active:hover {
      color: $white;
    }
    &:hover {
      color: $white-04;
    }
  }
}

.btn {
  border: none;
  outline: none;
  background: $blue-08;
  padding: 6px 15px;
  border-radius: 5px;
  font-family: $noto-sans;
  color: $white-08;
  font-size: 16px;
  cursor: pointer;
  transition: all .2s;
  &:hover {
    background: $blue;
  }
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}